:root {
    --main-color: black;
    --background-color: #FFFEFB;
    --accent-color: #FFD00E;
    --secondary-accent-color: linear-gradient(134deg, #FFDF00 -7.01%, #FFB800 109.07%);
    --anima-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}